{% extends "back/master.html" %}
{% load static %}

{% block mainblock %}

<!-- Page Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Edit News<br>
            <small>Manage your news by adding, editing, or deleting entries.</small>
        </h1>
    </div>
</div>
<!-- Breadcrumb Navigation -->
<ul class="breadcrumb breadcrumb-top">
    <li>News</li>
    <li><a href="/panel/news/edit/{{pk}}">Edit</a></li>
</ul>
<!-- End Header -->

<div class="row">
    <div class="col-md-12">
        <!-- Edit News Block -->
        <div class="block">
            <!-- Block Title -->
            <div class="block-title">
                <h2><strong>Edit</strong> News</h2>
            </div>
            <!-- End Title -->

            <!-- Form Content -->
            <form action="{% url 'news_edit' pk=pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                {% csrf_token %} <!-- CSRF token for security -->

                <!-- Input for News Title -->
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" id="newstitle" name="newstitle" class="form-control" placeholder="News Title" value="{{news.title}}">
                    </div>

                    <!-- Dropdown for News Category -->
                    <div class="col-md-6">
                        <select id="newscat" name="newscat" class="select-chosen" data-placeholder="Choose a Category..." style="width: 250px;">
                            <option value="{{news.catid}}">{{news.catname}}</option>
                            {% for category in categories %}
                                <!-- Dynamically load category options -->
                                <option value="{{category.pk}}">{{category.catname}} | {{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Input for News Summary -->
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="newssummary" name="newssummary" rows="5" class="form-control" placeholder="Summary">{{news.summary}}</textarea>
                    </div>
                </div>

                <!-- Input for News Content -->
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="newscontent" name="newscontent" rows="5" class="form-control" placeholder="Body Content">{{news.content}}</textarea>
                    </div>
                </div>

                <!-- File Upload for News Media -->
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="file" id="myfile" name="myfile" class="form-control">
                        <br><br>
                        <textarea type="text" id="tag" name="tag" rows="5" class="form-control" placeholder="Tags">{{news.tag}}</textarea>

                    </div>
                    <div class="col-md-6">
                        <img style="display: inline-block; width: 195px; height: 150px; object-fit: cover; object-fit: cover; margin-left: 20px;" src="{{news.imageurl}}">
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-angle-right"></i> Submit
                        </button>
                    </div>
                </div>
            </form>
            <!-- End Form Content -->
        </div>
        <!-- End Block -->
    </div>
</div>

{% endblock mainblock %}

{% block footerblock %}
<!-- JavaScript specific to this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>
    // Initialize DataTables for this page
    $(function () { TablesDatatables.init(); });
</script>
{% endblock footerblock %}
